<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Obmen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Obmen.Properties.Settings>
            <setting name="configF130From" serializeAs="String">
                <value />
            </setting>
            <setting name="configF130To" serializeAs="String">
                <value />
            </setting>
            <setting name="fromPostPay" serializeAs="String">
                <value />
            </setting>
            <setting name="toPostPay" serializeAs="String">
                <value />
            </setting>
            <setting name="fromF130" serializeAs="String">
                <value />
            </setting>
            <setting name="toF130" serializeAs="String">
                <value />
            </setting>
            <setting name="fromGibrid" serializeAs="String">
                <value />
            </setting>
            <setting name="toGibrid" serializeAs="String">
                <value />
            </setting>
            <setting name="fromPostPayBD" serializeAs="String">
                <value />
            </setting>
            <setting name="toPostPayBD" serializeAs="String">
                <value />
            </setting>
            <setting name="fromPension" serializeAs="String">
                <value />
            </setting>
            <setting name="toPension" serializeAs="String">
                <value />
            </setting>
            <setting name="fsgCashFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="fsgCashTo" serializeAs="String">
                <value />
            </setting>
            <setting name="regFSGFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="regFSGTo" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxIP" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxPass" serializeAs="String">
                <value />
            </setting>
            <setting name="radioButtonOps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButtonIP" serializeAs="String">
                <value>False</value>
            </setting>
        </Obmen.Properties.Settings>
    </userSettings>
</configuration>
